@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;700&display=swap');

:root {
  --primary: #7dab29;
  --accent: #beff47;
  --primaryDark: #545b4d;
  --secondary: #ffc866;

  --text: #171717;
  --secondaryText: #94b656;
  --background: #f8f7f4;
  --backgroundBottom: white;
  --navHover: var(--secondary);
  --error: #e02b26;
}

.theme-dark {
  --primary: #9abc5a;
  --accent: #ffac00;
  --primaryDark: #4e5443;
  --secondary: #9d8254;

  --text: #f8f7f4;
  --secondaryText: #c0d39f;
  --background: #171717;
  --backgroundBottom: #312e28;
  --navHover: #ffc866;
}

html,
body,
#__next {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#__next {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  max-width: 100%;
  overflow-x: hidden;

  * {
    box-sizing: border-box;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: var(--primary);
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: 0.15s linear;

  &:hover {
    color: var(--secondary);
  }
}

ul {
  list-style: none;
  margin-left: 1rem;

  li::before {
    content: '\25A0';
    display: inline-block;
    width: 1.5rem;
    margin-left: -1.5rem;
    color: var(--secondary);
    vertical-align: text-bottom;
  }
}

ol {
  list-style: none;
  counter-reset: item;

  li {
    counter-increment: item;
    margin-bottom: 0.25rem;
    display: flex;

    &:before {
      content: counter(item);
      padding-right: 1.5rem;
      color: var(--secondary);
      font-weight: 600;
    }
  }
}

@media all and (max-width: 360px) {
  ul {
    margin-left: -0.7rem;
  }
  ol {
    margin-left: -2.2rem;
  }
}
