$horizontalSectionCutoffScreenWidth: 830px;
$hrBorder: 1px dashed var(--primary);

@mixin horizontalSection {
  margin-bottom: 1rem;

  @media all and (min-width: $horizontalSectionCutoffScreenWidth) {
    display: flex;

    ul {
      margin-top: 0;
    }
  }
}

@mixin horizontalSectionLeftData {
  flex-grow: 0;
  flex-shrink: 0;

  @media all and (min-width: $horizontalSectionCutoffScreenWidth) {
    width: 310px;
  }
}

.row {
  display: flex;
  justify-content: space-between;

  section.info {
    margin: 0 3rem;

    :first-child {
      margin-left: 0;
    }

    :last-child {
      margin-right: 0;
    }
  }

  hr {
    width: 0;
    height: 12rem;
    border-right: $hrBorder;
  }

  @media all and (max-width: 965px) {
    flex-direction: column;
    margin-bottom: 2rem;

    section.info {
      margin: 0;
    }

    hr {
      width: 100%;
      border-right: none;
      border-bottom: $hrBorder;
      height: 0;
      margin-top: 3rem;
    }
  }
}

.separator {
  border: none;
  border-bottom: $hrBorder;
  margin-bottom: 3rem;
  opacity: 0.5;
}

section.info {
  margin-bottom: 3rem;
  position: relative;

  .scrollAnchor {
    position: absolute;
    top: -4rem;
  }
}

section.contactInfo {
  > div,
  a {
    display: flex;
    align-items: center;

    .icon {
      width: 1.5em;
    }
  }

  > div {
    margin-bottom: 0.15rem;
  }
}

.skill {
  @include horizontalSection;

  .categoryText {
    font-weight: 500;
    font-size: inherit;
    color: var(--secondaryText);
    @include horizontalSectionLeftData;

    & > span {
      display: flex;
      flex-direction: row;
      align-items: center;

      &::after {
        content: '';
        flex: 1;
        border-bottom: 1px dashed var(--text);
        margin-left: 0.5rem;
        opacity: 0.5;
      }
    }
  }
}

@mixin secondaryInfo {
  opacity: 0.7;
  font-size: 0.85rem;
}

.experienceInfo {
  .experienceData {
    & > span,
    & > div {
      display: block;
      line-height: 1.3em;

      &.title {
        font-size: 1rem;
        opacity: 1;
        font-weight: 500;
        margin-bottom: 0.25rem;
      }

      &:not(.title) {
        @include secondaryInfo;
      }

      &.companyAndLocation {
        flex-direction: row;

        div.withIcon {
          display: inline-flex;
        }
      }
    }

    div.withIcon {
      display: flex;
      align-items: center;
      gap: 0.25em;
    }
  }

  &.horizontal {
    @include horizontalSection;

    .experienceData {
      @include horizontalSectionLeftData;
    }
  }
}

.jobInfo {
  .experienceData > span {
    display: flex;
    flex-direction: column;

    &:not(:first-child):not(:nth-child(2)) {
      margin-bottom: 0.5em;
    }

    & > span {
      &:first-child {
        color: var(--primary);
        font-weight: 600;

        &::before {
          content: '\203A';
          margin-right: 0.4em;
          font-size: 1.3em;
          line-height: 1em;
        }
      }
      &:last-child {
        margin-left: 1em;
      }
    }
  }

  .experiencePoints {
    .task {
      & > span {
        margin-left: 1.5rem;
        font-weight: 500;
        color: var(--secondaryText);
      }
    }
  }

  @media all and (max-width: $horizontalSectionCutoffScreenWidth) {
    margin-bottom: 2.5rem !important;

    .experiencePoints {
      margin-top: 1.5rem;
      .task > span {
        margin-left: 0;
      }
    }
  }
}

.awardsInfo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 1rem;

  .award {
    text-align: center;
    background: var(--cardBackground);
    color: var(--cardText);
    border-top: 5px solid var(--secondary);
    padding: 1rem;
    padding-bottom: 1.35rem;
    position: relative;

    svg {
      color: var(--cardTextSecondary);
      font-size: 2rem;
    }

    span {
      display: block;
      line-height: 1.3em;

      &.title {
        font-weight: 500;
        margin-bottom: 0.25rem;
      }

      &.date {
        @include secondaryInfo;
      }
    }
  }
}

.languagesInfo {
  .award {
    span.title {
      margin-bottom: 0;
    }

    .proficiency {
      @include secondaryInfo();
      opacity: 1;
      color: var(--primary);
      font-weight: 600;
      margin-bottom: 0.35rem;
    }
  }
}

.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  grid-gap: 1rem;
  margin-bottom: 3rem;

  a {
    position: relative;
    font-weight: 600;

    &::after {
      content: '';
      height: 5px;
      width: 20%;
      display: block;
      margin-top: 0.35rem;
      background: var(--primary);
      transition: width 0.15s ease-out;
    }

    &:hover::after {
      width: 100%;
      background: var(--secondary);
    }
  }
}
