@use 'assets/mixins' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;

  color: var(--text);
  background: linear-gradient(
    180deg,
    var(--background) 0%,
    var(--background) 50%,
    var(--backgroundBottom) 90%
  );
}

.nav {
  background: var(--primaryDark);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  transition: top 0.5s;
  top: -60px;

  &.sticky {
    position: sticky;
    top: 0;
  }

  &.fade {
    transition: opacity 0.35s;
    opacity: 0;
  }

  .siteName {
    color: white;
    font-weight: 700;
    text-transform: uppercase;

    span {
      color: var(--accent);
      transition: 0.15s linear;
    }

    &:hover {
      color: var(--navHover);
      letter-spacing: 0.1rem;
      @include glow(2px);

      span {
        color: white;
        @include glow;
      }
    }
  }

  svg {
    color: white;
  }

  nav {
    color: white;

    a,
    .languageSwitcher {
      display: inline-flex;
      align-items: center;
      margin-right: 1.5rem !important;

      svg {
        margin-right: 0.35rem;
      }

      &:hover {
        color: var(--navHover);
        letter-spacing: 0.1rem;
        font-weight: 600;

        svg {
          color: inherit;
        }
      }

      &:last-of-type svg {
        font-size: 1.12em;
      }
    }

    .languageSwitcher {
      @include linkButton;
    }

    .themeButton {
      @include linkButton;

      svg {
        @include glow;
      }

      span {
        display: none;
      }

      &:hover {
        padding: 0 0.5rem;

        svg {
          color: var(--navHover);

          path:last-child {
            stroke-width: 1;
          }
        }
      }
    }
  }
}

.footer {
  background: var(--primaryDark);
  color: white;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.2rem;
}

.mobileMenuButton {
  @include linkButton;
  display: none;
  flex-direction: column;
  width: 1.12rem;
  gap: 3.5px;
  position: relative;
  flex-shrink: 0;

  span {
    background: white;
    width: 100%;
    height: 2px;
    transition: all 0.35s ease-out;
  }
}

@media all and (max-width: 845px) {
  .mobileMenuButton {
    display: inline-flex;

    &.open span {
      height: 1.5px;

      &:nth-child(1) {
        transform: rotate(45deg) translate(0, 7px);
      }
      &:nth-child(2) {
        width: 0%;
        transform: translate(4px, 0);
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(0, -7px);
      }
    }
  }

  .nav nav {
    left: 0;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 56px;
    background: var(--cardBackground);
    color: var(--cardText);
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.37s ease-in-out, opacity 0.25s linear;

    &.open {
      max-height: 300px;
      padding-bottom: 0.35rem;
      opacity: 1;
    }

    $itemPadding: 0.8rem 1rem;

    a,
    .languageSwitcher,
    .themeButton {
      margin-right: 0 !important;
      padding: $itemPadding;

      svg {
        color: currentColor;
        flex-shrink: 0;
      }
    }

    .themeButton {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      span {
        display: block;
      }

      svg {
        vertical-align: text-top;
        margin-right: 0.35rem;
      }

      &:hover {
        padding: $itemPadding;
        letter-spacing: 0.1rem;
        font-weight: 600;
        color: var(--navHover);
      }
    }

    @media all and (max-width: 243.5px) {
      top: 80px;
    }

    @media all and (max-width: 176px) {
      top: 104px;
    }
  }
}
