@use 'assets/mixins' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  color: var(--text);
  background: linear-gradient(
    180deg,
    var(--background) 0%,
    var(--background) 50%,
    var(--backgroundBottom) 90%
  );
}

.nav {
  background: var(--primaryDark);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  transition: top 0.5s;
  top: -60px;

  &.sticky {
    position: sticky;
    top: 0;
  }

  &.fade {
    transition: opacity 0.35s;
    opacity: 0;
  }

  .siteName {
    color: white;
    font-weight: 700;
    text-transform: uppercase;

    span {
      color: var(--accent);
      transition: 0.15s linear;
    }

    &:hover {
      color: var(--navHover);
      letter-spacing: 0.1rem;
      @include glow(2px);

      span {
        color: white;
        @include glow;
      }
    }
  }

  svg {
    color: white;
  }

  nav {
    color: white;

    a {
      display: inline-flex;
      align-items: center;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      svg {
        margin-right: 0.35rem;
      }

      &:hover {
        color: var(--navHover);
        letter-spacing: 0.1rem;
        font-weight: 600;

        svg {
          color: inherit;
        }
      }

      &:last-of-type svg {
        font-size: 1.12em;
      }
    }

    .themeButton {
      background: none;
      border: none;
      padding: 0;
      margin: 0;
      font-size: inherit;
      cursor: pointer;
      transition: 0.15s linear;

      svg {
        @include glow;
      }

      &:hover {
        padding: 0 0.5rem;

        svg {
          color: var(--navHover);

          path:last-child {
            stroke-width: 1;
          }
        }
      }
    }
  }

  @media all and (max-width: 752px) {
    nav a {
      &:not(:last-child) {
        margin-right: 1rem;
      }

      svg {
        margin-right: 0;
      }
      span {
        display: none;
      }
    }
  }

  @media all and (max-width: 380px) {
    .siteName {
      max-width: 0.7em;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.footer {
  background: var(--primaryDark);
  color: white;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.2rem;
}
